body {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    flex-flow: column;
}
h1 {
    font-family: cursive;
}
table {
    max-width: 60em;
    border-collapse: collapse;
    width: 100%;
    font-family: arial;
}
th {
    background-color: #eaeaea;
}
td, th {
    border: 2px solid #b4b4b4;
    padding: 10px 30px;
    text-align: left;
}
a{
    text-decoration: none;
    color: #0000b2;
}
a:hover{
    text-decoration: underline;
}